body {
    margin: 0px;
}

nav {
    height: 80px;
    background-color: black;
    display:flex;
    justify-content:space-around;
}

main {
    height: 969px;
    background-color:rgb(41,65,171) ;
}

footer {
    height: 530px;
    background-color: black;
}

.logo {
    height:44.992px;
    width:132px;
    margin:15px;
}

.navItem {
    padding: 28px 17px;
    font-weight: 700px;
    text-decoration: none;
    color: white;
    font-family: spotify-circular, Helvetica, Arial, sans-serif;
}

.navRight {
    height:18.5px;
    width: 543.57px;
    margin-top:30px;
}

