.box {
    width:300px;
    height:300px;
    border: 1px solid red;
    background-color: black;;
    color:white;
    /* position:relative; */
}

.box2 {
    position: relative;
   left:50px;
   top:-50px;
}