body {
    background-color: black;;
    display: grid;
}

.nav {
    font-size: 14px;
    font-family: Apple SD Gothic Neo,arial,sans-serif;
}

.nav-left {
    float: left;
    padding-left: 30px;
    padding-top: 20px;
    text-decoration:none;
}

.nav-right {
    float: right;
    
}
.nav-item {
    padding-right: 30px;
    padding-top: 20px;
}


a {
    color: white;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.main {
    margin-top:150px;
    text-align: center;

}

.input-box {
    padding: 5px 8px 0 14px;
    color: #bdc1c6;
} 

.button-area {
    text-align: center;
    margin-top: 30px;
}

.bottom {
    color: white;
}